/* app global css */
::-webkit-scrollbar {
  right: 2px;
  border-radius: 9px;
  background: rgb(13 71 161 / 20%);
  overflow: visible;
  height: 13px;
  width: 11px;
}

::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  border: 3px solid rgba(0, 0, 0, 0);
  background-color: rgb(13 71 161 / 75%);
  background-clip: padding-box;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}

.main-rounded-borders-top {
  border-radius: 4px 4px 0 0 !important;
}

.rounded-borders-right {
  border-radius: 0px 60px 60px 0px !important;
}

.rounded-borders-left {
  border-radius: 60px 0 0 60px !important;
}

.rounded-borders-bottom {
  border-radius: 0 0 60px 60px !important;
}

.rounded-borders-top {
  border-radius: 60px 60px 0 0 !important;
}

.rounded-borders-all {
  border-radius: 60px !important;
}

.semi-rounded-borders-all {
  border-radius: 20px !important;
}

.semi-rounded-borders-right {
  border-radius: 0px 20px 20px 0px !important;
}

.semi-rounded-borders-left {
  border-radius: 20px 0 0 20px !important;
}

.semi-rounded-borders-bottom {
  border-radius: 0 0 20px 20px !important;
}

.semi-rounded-borders-top {
  border-radius: 20px 20px 0 0;
}

.menu-links-item {
  letter-spacing: 0.7px;
  border-radius: 60px;
  margin-top: 13px;
  min-height: 30px;
  padding: 12px 4px 12px 25px;
  transition: none;
}

.encounter-links-item {
  letter-spacing: 0.7px;
  border-radius: 5px;
  margin-top: 13px;
  min-height: 30px;
  padding: 12px -1px 12px 25px;
  transition: none;
}

.q-drawer {
  background: none;
}

/* .drawer-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
} */

.drawer {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full height of the viewport */
}

.drawer-content-wrapper {
  flex-grow: 1; /* The scrollable area will grow to take available space */
  overflow: hidden; /* Prevent content overflow */
}

.drawer-bottom {
  flex-shrink: 0; /* Prevents the footer from shrinking */
  height: auto;
  padding: 16px;
}

.full-height-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh !important; /* Makes the q-page take the full viewport height */
}

.content {
  flex-grow: 1; /* Ensures the content fills the remaining space */
  display: flex;
  width: 100%;
  /* justify-content: center;
  align-items: center; */
}

.inner-content {
  flex-grow: 1; /* Expands to take available space */
  max-width: 100%; /* Optional: Set a maximum width */
  background-color: #f5f5f5;
  /* padding: 20px; */
  border-radius: 30px;
  height: 100% !important;
}

.page-content {
  margin: 20px 0 0 0;
  overflow: auto !important;
}

.tab-content-xl {
  height: 79.7vh !important;
}

.tab-content-lg {
  height: 79.7vh !important;
}

.tab-content-md {
  height: 79.7vh !important;
}

.tab-content-sm {
  height: 79.7vh !important;
}

.tab-content-xs {
  height: 79.7vh !important;
}

.nav-search-mini-xl {
  max-height: 94.5vh !important;
  overflow: auto !important;
}

.nav-search-mini-lg {
  max-height: 94.5vh !important;
  overflow: auto !important;
}

.nav-search-mini-md {
  max-height: 91.5vh !important;
  overflow: auto !important;
}

.nav-search-mini-sm {
  max-height: 91.5vh !important;
  overflow: auto !important;
}

.nav-search-mini-xs {
  max-height: 91.5vh !important;
  overflow: auto !important;
}

.nav-search-xl {
  max-height: 91.5vh !important;
  overflow: auto !important;
}

.nav-search-lg {
  max-height: 91.5vh !important;
  overflow: auto !important;
}

.nav-search-md {
  max-height: 91.5vh !important;
  overflow: auto !important;
}

.nav-search-sm {
  max-height: 91.5vh !important;
  overflow: auto !important;
}

.nav-search-xs {
  max-height: 91.5vh !important;
  overflow: auto !important;
}

.diag-content-xl {
  height: 74vh !important;
  overflow: auto !important;
}

.diag-content-lg {
  height: 74vh !important;
  overflow: auto !important;
}

.diag-content-md {
  height: 74vh !important;
  overflow: auto !important;
}

.diag-content-sm {
  height: 74vh !important;
  overflow: auto !important;
}

.diag-content-xs {
  height: 74vh !important;
  overflow: auto !important;
}
